# Node modules
node_modules/

# Dependency directories
jspm_packages/

# Truffle build artifacts
build/
contracts/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# OS-specific
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
*.swp
*.swo

# Coverage reports
coverage/
coverage.json

# Cache
.cache/
